<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.cimsbioko.cimsprints"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="org.commcare.dalvik.provider.cases.read" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.openandid.core.Controller"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode" >
        <receiver android:name="broadcast.ScannerReceiver" >
            <intent-filter>
                <action android:name="com.openandid.screentest.ScanningActivity.USB_PERMISSION" />
            </intent-filter>
        </receiver>
        <receiver android:name="broadcast.USBReceiver" >
            <intent-filter>
                <action android:name="com.openandid.core.SCANNER_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_filter" />
        </receiver>
        <receiver
            android:name="com.openandid.core.CommcareReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="org.commcare.dalvik.api.action.data.update" />
                <action android:name="org.commcare.dalvik.api.action.session.login" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.openandid.core.AdvancedPreferences"
            android:label="Advanced Preferences" >
            <intent-filter>
                <action android:name=".Preferences" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.CCSyncActivity"
            android:label="CCSynch" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.DispatchActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.openandid.core.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.openandid.core.ENROLL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.openandid.core.IDENTIFY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.openandid.core.PIPE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.LaunchActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.PipeActivity"
            android:label="VirtualCohort"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.CleanupActivity"
            android:label="VirtualCohort"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.ScanningActivity"
            android:exported="true"
            android:label="VirtualCohort"
            android:launchMode="standard"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.openandid.internal.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.ScannerCatcher"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:noHistory="true"
            android:process=":ScannerCatcherProcess"
            android:taskAffinity="com.openandid.core.ScannerCatcher"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_filter" />
        </activity>
        <activity
            android:name="com.openandid.core.EnrollActivity"
            android:label="VirtualCohort"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.openandid.internal.ENROLL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openandid.core.IdentifyActivity"
            android:label="VirtualCohort"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.openandid.internal.IDENTIFY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.openandid.core.CommCareSyncService" />
        <service android:name="com.openandid.core.NotificationReceiver" />

    </application>

</manifest>
